<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NavigationItemSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E62C5B701DA268FA0069BED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E62C5B891DA268FA0069BED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E62C5B941DA268FA0069BED6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
